@use '../../../assets/styles/palette' as palette;

header {
  padding: 12px 0;
  background-color: #fff;
  box-shadow: 0 3px 2px #9daccf14;
  position: relative;

  .header-wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;

    .logo {
      .beige {
        color: #D2B48C;
      }

      .brown {
        color: #8B4513;
      }
    }

    .dogs {
      margin-right: 24px;
    }
  }
}
